<!DOCTYPE html>
<html>
<head>
	<title>Vue Practice</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>
<body>

	<div id='firstDiv'>
		<input v-model='number'>
		<p>number is: {{ number }}</p>
		<ul>
			<li v-for='number_ in numbers'>
				{{ number_ }}
			</li>
		</ul>
	</div>

	<div id='secondDiv'>
		<button v-on:click='openCloseDoor'>Open or close door</button>
		<p v-if='isDoorOpen'>Come in!</p>
		<p v-else-if='!isDoorOpen'>Stay out!</p>
	</div>

	<div id='thirdDiv'>
		<ul>
			<grocery-item 
			v-for='item in groceryItems'
			v-bind:groceryitem='item'
			></grocery-item>
		</ul>
	</div>

	<script>

		var firstVue = new Vue({
			el: '#firstDiv',
			data: {
				number: 1,
				numbers: [1, 2, 3],
			}
		})

		// firstVue.$watch('number',function(){
		// 	alert('number has changed')
		// })
		// firstVue.number = 10

		var secondVue = new Vue({
			el: '#secondDiv',
			data: {
				isDoorOpen: false
			},
			methods: {
				openCloseDoor: function() {
					this.isDoorOpen = !this.isDoorOpen
				}
			}
		})

		Vue.component('grocery-item', {
			props: ['groceryitem'],
			template: '<li>{{ groceryitem.quantity }} {{ groceryitem.name }}</li>'
		})
		var thirdVue = new Vue({
			el:'#thirdDiv',
			data: {
				groceryItems: [
					{name: 'Bread', quantity: 2},
					{name: 'Cheese', quantity: 1},
					{name: 'Apples', quantity: 4},
				]
			}
		})

	</script>

</body>
</html>