<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog Site useing Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css">
      html, body{
          padding: 10px;
          clear: both;
          float: left;
      }

      #singleBlogPost {
        padding: 10px;
        border-width: 2px;
        border-style: solid;
        border-color: blue;
        margin-bottom: 50px
      }

      #blogPostCreation{
        padding: 10px
        border-width: 2px;
        border-style: solid;
        border-color: black;
      }

      #blogPostCreation > * {
        margin: 10px;
        padding: 10px
      }

    </style>

  </head>
  <body>
    <h1> Welcome to my Blog Site !!!</h1>

    <div id='blogPosts' class="container-fluid">
  		<blog-post
  		v-for='post in posts'
  		v-bind:blogpost='post'
  		></blog-post>
  	</div>

    <div id='blogPostCreation' class="container-fluid">
      <h2>Make a New Blog Post</h2>
      <input v-model='title'
        type="text" placeholder="Title" aria-label="title"
      ><br>
      <input v-model='username'
      type="text" placeholder="Username" aria-label="username"
      ><br>
      <input v-model='date'
      type="text" placeholder="Date" aria-label="date"
      ><br>
      <input v-model='content'
      type="text" placeholder="Type Blog here......." aria-label="content"
      ><br>
      <button v-on:click='publishPost'>Publish Post</button>

    </div>

    <script>

      Vue.component('blog-post', {
  			props: ['blogpost'],
  			template: `<div id='singleBlogPost'>
  							<h2>{{ blogpost.title }}</h2>
  							<h3>{{ blogpost.username }}</h3>
  							<h4>{{ blogpost.date }}</h4>
  							<p>{{ blogpost.content }}</p>
  						</div>`,
  		})

  		var blogVue = new Vue({
  			el: '#blogPosts',
  			data: {
  				posts: [
  					{title: 'First Post', username: 'Matt Elliott', date: 'Sep 8, 2019', content: 'This is the content of my very interesting first post.'},
  					{title: 'Second Post', username: 'Lois Calcott', date: 'Sep 8, 2019', content: 'This is the content of my very interesting second post. I hope you like it'},
  				]
  			}
  		})

      var postBlogVue = new Vue({
        el: '#blogPostCreation',
        data: {
          title: '',
          username: '',
          date: '',
          content: '',
        },
        methods: {
          publishPost: function() {
            var newPost = {
              title: this.title,
              username: this.username,
              date: this.date,
              content: this.content
            }
            blogVue.posts.push(newPost)
            this.title = ''
            this.username = ''
            this.date = ''
            this.content = ''
          }
        }
      })

    </script>
  </body>
</html>
